.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block-container {
  /* background-color: #f8f9fa; */
  background-color: #c7ced4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%; /* Ensures two blocks fit side by side */
}

.d-flex {
  display: flex;
  gap: 20px; /* Space between the two blocks */
}

@media (max-width: 768px) {
  .block-container {
    width: 100%; /* Stacks them on small screens */
  }
}

/* Add padding to table cells to increase distance between columns */
table td, table th {
  padding: 12px 20px; /* Adjust these values as needed */
}

/* Optional: Add more space between rows */
table tr {
  margin-bottom: 10px; /* Space between rows */
}

/* Optional: Add border spacing for more control */
table {
  border-spacing: 0 10px; /* Space between columns and rows */
  border-collapse: separate; /* Allows border-spacing to work */
}
