.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 10px; /* Adjust these values as needed */
  padding-right: 10px; /* Adjust these values as needed */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.block-container {
  /* background-color: #f8f9fa; */
  background-color: #c7ced4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 49%; /* Ensures two blocks fit side by side */
}

.d-flex {
  display: flex;
  gap: 10px; /* Space between the two blocks */
}

@media (max-width: 768px) {
  .block-container {
    width: 100%; /* Stacks them on small screens */
  }
}

/* Add padding to table cells to increase distance between columns */
table td, table th {
  padding: 12px 20px; /* Adjust these values as needed */
}

/* Optional: Add more space between rows */
table tr {
  margin-bottom: 10px; /* Space between rows */
}

/* Optional: Add border spacing for more control */
table {
  border-spacing: 0 10px; /* Space between columns and rows */
  border-collapse: separate; /* Allows border-spacing to work */
}

/* Home.js */

.gas-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.eth-price {
  font-size: 18px;
  font-weight: bold;
}

.gas-price {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.gas-price i {
  font-size: 24px;
  margin-right: 5px;
  color: #333;
}

.gas-tooltip {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  white-space: nowrap;
  font-size: 12px;
  
}

.gas-price:hover .gas-tooltip {
  display: block;
}

.gas-tooltip::before {
  content: "";
  position: absolute;
  top: -10px; /* Position the arrow on top of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.gas-tooltip span {
  display: block;
}


/* Transaction.js */

 .block-status {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

 .icon-tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.block-number {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.block-number i {
  font-size: 20px;
  margin-right: 5px;
  color: #333;
  cursor: pointer; /* Make the icon a clickable pointer */
}
.block-number a {
  text-decoration: none;
}

.block-tooltip {
  display: none;
  position: absolute;
  top: 100%; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  z-index: 1;
  white-space: nowrap;
  font-size: 12px;
  margin-top: 10px;
}

.icon-tooltip-wrapper:hover .block-tooltip {
  display: block;
}

.block-tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.finalized-icon {
  color: green !important;
}

.unfinalized-icon {
  color: gray !important;
}

